.global-single-content{
	margin-bottom:60px;
	padding-bottom:0.1px;
	&:last-child{
		margin-bottom:0;
	}
	&.post_format-post-format-quote,
	&.post_format-post-format-audio{
		.entry-header{
			padding-bottom:0;
			border-bottom:none;
		}
	}

	.header-single-with-image{
		margin-bottom:40px;
		@include flexRowControl;
		@include flexVerticalAlignMiddle;
		&:last-child{
			margin-bottom:0;
		}

		.header-img{
			width:120px;
			height:120px;
			margin-right:20px;
			position:relative;
			border-radius:50%;
			overflow:hidden;

			&:empty{
				display:none;
			}

			&:not(:empty) + .header-content{
				width:calc(100% - 147px);
				width:-webkit-calc(100% - 147px);
				width:-moz-calc(100% - 147px);
				width:-ms-calc(100% - 147px);
			}		
		}
		.header-content{
			width:100%;			
		}

		@media(max-width:575px){
			.header-img{
				margin-left:auto;
				margin-right:auto;

				&:not(:empty){
					margin-bottom:30px;
					+ .header-content{
						width:100%;
					}
				} 
			}
			.header-content{
				text-align:center;
				width:100%;			
			}
		}
	}

	&.single-post-content > .author-box.special-style,
	.entry-header{
		margin:0 0 40px 0;	
		padding-bottom:40px;
		border-bottom:2px solid	$color__entry-header-border;
		h1.entry-title {
			margin:-8px 0 12px 0;
			&:last-child{
				margin-bottom:-9px;
			}
		}

		+.entry-content:empty{
			margin-top:-40px;
		}
	}
	
	.entry-content{
		> p:first-child:not([class]){
			margin-top:-15px;
		}
		> p:last-child:not([class]){
			margin-bottom:-15px;
		}

		> p + p {
			margin-top:10px;
		}

		> p + blockquote {
			margin-top:25px;
		}

		> p + .wp-caption{
			margin-top:25px;
		}

		> p + ol,
		> p + ul {
			margin-top:15px;
		}

		> ol + p,
		> ul + p{
			margin-top:15px;
		}

		> blockquote{
			margin-top:25px;
			margin-bottom:25px;
		}

		> ul:first-child:not([class]),
		> ol:first-child:not([class]){
			margin-top:-10px;
		}

		> ul:last-child:not([class]),
		> ol:last-child:not([class]){
			margin-bottom:-10px;
		}

		twitterwidget{
			margin-left:auto;
			margin-right:auto;
		}

		> h1, > h2, > h3, > h4, > h5, > h6{			
			margin-bottom:0.42em;
		}

		.whatever-embed-responsive{			
			margin-top:1.9em;
			margin-bottom:1.9em;
			&:first-child{
				margin-top:0;				
			}
			&:last-child{
				margin-bottom:0;				
			}
			iframe{
				display:block;	
				margin:0;			
			}

			&.video-ratio-16-9{
				position:relative;
				padding-top:56.25%;
				iframe{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;					
				}
			}

			&.twitter-ratio{
				background-color:#EAEAEA;
				padding:20px;
				@include border-radius(5px);
				iframe{
					width:100% !important;
				}
			}
		}

		+.subscriptions-archive-control{
			margin-top:40px;
		}
	}

	.page-links{
		margin-left:-3px;
		margin-right:-3px;
		margin-bottom:0;
		line-height:0;	
		padding-top:42px;

		> *{
			line-height:1.8;
			display:inline-block;
			vertical-align:middle;
			text-align:center;
			padding:7px 15px;
			background-color:#EAEAEA;
			text-decoration:none;
			min-width:40px;
			margin:3px;
			font-size: $font__navigation-size;
		}
		> span:not([class]){
			background-color:#000000;
			color: #FFFFFF;
		}
		a:hover,
		a:focus{
			background-color:#000000;
			color:#FFFFFF;
		}
	}

	.post-footer{
		padding-bottom:0;

		> * {
			padding-bottom:40px;
			border-bottom:2px solid $color__post-footer-border;
			margin-bottom:40px;
			&:last-child{
				padding-bottom:0;
				border-bottom:none;
				margin-bottom:0;
			}

			&:first-child{
				margin-top:60px;
			}
		}
	}

	.like-dislike-toolbar-footer{	

		&:after{
			content:'';
			display:table;
			clear:both;
		}

		.ld-t-footer-wrapper{
			width:auto;
			float:left;
			&:empty{
				display:none !important;
			}			
			&:after{
				content:'';
				display:table;
				clear:both;
			}

			+.ld-t-footer-sharing{
				float:right;
			}
		}	

		.ld-t-footer-sharing{
			width:auto;
			float:left;
		}

		@media(max-width:1199px){
			.ld-t-footer-sharing,
			.ld-t-footer-wrapper{
				width:100%;
			}
			.ld-t-footer-wrapper{
				text-align:center;
				.ld-t-item-content{
					display:inline-block;
					float:none;
				}
				&+.ld-t-footer-sharing{
					padding-top:40px;
					border-top:	2px solid $color__post-footer-border;
					margin-top:40px;

				    .social-block.s-grid{
	                    text-align:center;
	                    font-size:0;
	                    line-height:0;
	                }
	                .social-block.s-grid > li{
	                    display:inline-block;
	                    float:none;
	                    padding:0;
	                    margin:5px;
	                }

				}
				&:empty + .ld-t-footer-sharing{
					margin-top:0;
				}
			} 
		}

		.ld-t-item-content{
			position:relative;
			float:left;
			margin-right:5px;
			background-color: $color__toolbar-bottom-like-button-background;
			min-height:50px;
			line-height:50px;			
			padding:0 20px;	
			min-width:75px;
			cursor:pointer;				
			text-align:center;
			@include border-radius(25px);		

			&:last-child{
				margin-right:0;
			}		

			.fa{
				line-height:1;
				@include prefixer(backface-visibility, hidden, spec webkit);
				@include prefixer(transform, translate3d(0,0,0), spec webkit ms);
			}
			
			.item-icon,
			.item-text{
				display:inline-block;
				vertical-align:middle;
				line-height:1;
				@include transiton-builder(color 0.3s, background-color 0.3s, border-color 0.3s);
				@include prefixer(user-select, none, spec webkit ms moz);
			}

			.item-icon + .item-text,
			.item-text + .item-icon{
				margin-left:8px;			
			}
			
			&:hover{
				> span{
					color: $color__toolbar-item-text-hover;
				}
			}

			&.active-item{
				> span{
					color: $color__toolbar-item-text-active;
				}
			}

			.video-load-icon{
				position:absolute;
				top:50%;
				left:50%;
				margin-top:-10px;
				margin-left:-10px;
				display:none;
			}

			&.loading-ajax{
				pointer-events:none;			
			}

			&.add-load-icon{
				.video-load-icon{
					display:block;				
				}
				.item-icon,
				.item-text{
					opacity:0;
				}
			}

			.like-tooltip,
			.dislike-tooltip{
				position:absolute;
				bottom:100%;
				margin-bottom:10px;

				white-space:nowrap;
				text-align:center;
				line-height:1.6;
				padding:5px 10px;
				background-color: $color__toolbar-bottom-item-tooltip-background;
				> * {
					color: $color__toolbar-bottom-item-tooltip;	
				}			

				left:50%;
				@include prefixer(transform, translateX(-50%), spec webkit ms);

				opacity:0;
				visibility:hidden;

				&:after{
					content:'';
					display:block;
					position:absolute;
					width:0;
					height:0;
					border:solid transparent;
					border-width:5px 5px;
					border-top-color: $color__toolbar-bottom-item-tooltip-background;
					top:100%;
					left:50%;
					margin-left:-5px;
				}

				.unlike,
				.undislike {
					display:none;
				}

				@include prefixer(user-select, none, spec webkit ms moz);
			}

			.login-tooltip{
				position:absolute;
				top:100%;
				margin-top:10px;

				width:120px;
				text-align:center;
				
				line-height:1.6;
				padding:5px 10px;
				background-color: $color__toolbar-item-alert-background;
				> * {
					color: $color__toolbar-item-alert;	
				}			

				left:50%;
				@include prefixer(transform, translateX(-50%), spec webkit ms);

				opacity:0;
				visibility:hidden;
				z-index:2;

				&:after{
					content:'';
					display:block;
					position:absolute;
					width:0;
					height:0;
					border:solid transparent;
					border-width:5px 5px;
					border-bottom-color: $color__toolbar-item-alert-background;
					bottom:100%;
					left:50%;
					margin-left:-5px;
				}

				@include prefixer(user-select, none, spec webkit ms moz);
			}

			&:hover{
				.like-tooltip,
				.dislike-tooltip,
				.login-tooltip{
					opacity:1;
					visibility:visible;
				}
			}

			&.active-item-sub{
				> span{
					color: $color__toolbar-active-item-sub;
				}

				.likethis,
				.dislikethis{
					display:none;
				}

				.unlike,
				.undislike {
					display:inline;
				}
			}

		}
	}

	.tags-socialsharing{

		.tags-items{
			margin:-5px;
		}

		.tag-title{
			margin:5px;
			.h5{
				text-transform:uppercase;
			}			
		}
		.tag-item{
			display:inline-block;
			color:$color__post-footer-tag;
			background-color:$color__post-footer-tag-background;
			margin:5px;
			text-decoration:none;
			padding:4px 15px;
			text-transform: capitalize;

			&:hover,
			&:focus{
				color:$color__post-footer-tag-hover;
				background-color:$color__post-footer-tag-background-hover;
			}
		}
		
	}

	.author-box{
		.author-box-body{
			&:after{
				content:'';
				clear:both;
				display:table;
			}
			.author-box-avatar{
				width:130px;
				margin-right:20px;
				float:left;
				img {
					display:block;
				}
			}
			.author-box-content{
				width:calc(100% - 152px);
				width:-webkit-calc(100% - 152px);
				width:-moz-calc(100% - 152px);
				width:-ms-calc(100% - 152px);
				float:left;

				.author-name{
					margin-bottom:8px;
					&:last-child{
						margin-bottom:-5px;
					}	
				}
				.author-des{
					margin-bottom:12px;
					&:last-child{
						margin-bottom:-8px;
					}
					&:empty:not(:last-child){
						margin-bottom:15px;
					}
				}
			}
		}

		@media(max-width:575px){
			.author-box-body{
				.author-box-avatar{
					float:none;
					margin:auto;
					&+.author-box-content{
						padding-top:20px;
					} 
				}
				.author-box-content{
					width:100%;
					float:none;
					text-align:center;
					.social-block.s-grid{
						text-align:center;
						font-size:0;
						line-height:0;
					}
					.social-block.s-grid > li{
						display:inline-block;
						float:none;
						padding:0;
						margin:5px;
					}
				}
			}
		}

		&.special-style{
			.author-box-body{
				@include flexVerticalAlignMiddle;
				.author-box-avatar{
					width: 60px;
					@include border-radius(50%);
					overflow: hidden;
				}
				.author-box-content{
					width:calc(60% - 82px);
					width:-webkit-calc(60% - 82px);
					width:-moz-calc(60% - 82px);
					width:-ms-calc(60% - 82px);
					.author-name,
					.author-des{
						&:last-child{
							margin-top: 0;
							margin-bottom: 0;
						}
					}					
				}
				.author-subscribe{
					float:right;
					width: 40%;
					text-align:right;
				}

				@media(max-width:575px){
					.author-box-content{
						width: 100%;
					}
					.author-subscribe{
						padding-top: 20px;
						width: 100%;
						text-align: center;
					}
				}
			}

			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
	}

	.single-post-nav-items{
		margin-left:-10px;
		margin-right:-10px;
		&:after{
			content:'';
			display:table;
			clear:both;
		}
	}

	.single-post-nav-item{
		float:left;
		padding-left:10px;
		padding-right:10px;
		width:50%;	

		&.next-item{
			float:right;
			text-align:right;
			

			.post-listing-item{
				direction:rtl;
				> * {
					direction:ltr;
				}

				.post-img{
					margin-left:15px;
					margin-right:0;
				}
			}
			
		}

		.post-listing-item{	
			position:relative;

			@include flexRowControl;
			@include flexVerticalAlignMiddle;

			.post-img{
				width:60px;
				margin-right:15px;
				position:relative;

				&:empty{
					display:none;
				}

				&:not(:empty) + .post-content{
					width:calc(100% - 77px);
					width:-webkit-calc(100% - 77px);
					width:-moz-calc(100% - 77px);
					width:-ms-calc(100% - 77px);
				}
			}

			.post-content{
				width:100%;

				.post-title{
					&:last-child{
						margin-bottom:-4px;
					}			
				}
				
			}	

		}

		.item-text{
			a {
				text-decoration:none;
			}
			margin-bottom:12px;
			margin-top:-7px;
		}

		@media(max-width:575px){
			width:100%;

			&+*>.item-text{
				padding-top:13px;
				margin-top:20px;
				border-top:1px solid $color__post-footer-border;
			}
		}
	}
	

	.entry-footer{
		margin-top:20px;
		padding:13px 0 12px 0;
		font-style:italic;
		&:last-child{
			margin-bottom:-20px;
		}		
	}

	iframe[src*=".soundcloud.com/player/?"]{
		display:block;
		margin:0;
		padding:0;
		width:100%;
		height:160px;
		margin-top:7px;
		margin-bottom:8px;
	}
	iframe[src*="api.soundcloud.com%2Fplaylists"]{		
		height:360px;
	}
	.mejs-container {
		margin-top:15px;
		margin-bottom:15px;
		&:first-child{
			margin-top:0;		
		}
		&:last-child{
			margin-bottom:0;
		}
		button {
			min-width:0;
		}
	}

	.entry-content{
		&.hidden-content{
			max-height: 150px;
			overflow: hidden;			
		}
		~.showmore_wrapper{
			margin-top: -35px;
			position: relative;			
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
			padding-top: 80px;
			margin-bottom:60px;
			overflow: hidden;
			.showmore_button{
				width:100px;
				text-align:center;
				padding: 5px 15px;
				display: block;
				top:50px;
				left: 50%;
				margin-left: -50px;	
				position: absolute;
				cursor: pointer;
				font-size: 18px;
				line-height: 1;
				background-color: #252525;
				color:#FFFFFF;
				@include border-radius(3px);
				border:1px solid transparent;
				&:before,
				&:after{
					content:'';
					display: block;
					height: 1px;
					width: 50vw;
					background-color: rgba(0,0,0,0.15);
					top:14px;
					position: absolute;
				}
				&:before{
					right: 100%;
					margin-right: 15px;
				}
				&:after{
					left: 100%;
					margin-left: 15px;
				}
				&:hover{
					background-color: #666666;
					color:#FFFFFF;
					border-color:#666666;
				}

				&.show-more-content{
					i.fa{
						@include prefixer(transform, rotate(180deg), spec webkit ms);
					}
				}
			}
		}
	}
}

body.show-more-content{
	.global-single-content{
		.entry-content.hidden-content{
			max-height: none;
			overflow: initial;
			~.showmore_wrapper{
				margin-top: 0;
				padding-top: 85px;
				background:none;
				filter:none;
			}
		}
	}
}

.dark-background{
	.global-single-content{
		.entry-content.hidden-content{			
			~.showmore_wrapper{
				background: -moz-linear-gradient(top, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 100%);
				background: -webkit-linear-gradient(top, rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%);
				background: linear-gradient(to bottom, rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#111111',GradientType=0 );
				.showmore_button{
					&:before,
					&:after{
						background-color: rgba(255,255,255,0.1);
					}
				}
			}
		}
	}
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body.page-template-front-page-template,
body.page-template-blog-page-template{
	/*.sidebar-direction{
		padding-top: 0;
		padding-bottom: 0;
	}*/
	.entry-header{
		display:none;
	}
}

.single-feature-image,
.single-image-gallery,
.single-post-quote{
	margin-bottom:40px;
	img{
		display:block;
		margin:auto;
	}
}

.single-image-gallery {

	&:not(.slick-slider){
		white-space:nowrap;
		overflow:hidden;
		> * {
			display:inline-block;
			width:100%;
			vertical-align:top;
			
		}
	}
	
	img {
		display:block;
	}

	&.slick-slider .slick-arrow{
		min-width:40px;
		width:40px;
		height:40px;
		line-height:40px;
		text-align:center;
		padding:0;
		margin:0;	
		font-size:24px;	
		.fa{
			line-height:1;
			font-size:24px;
			&:before{
				line-height:1;
			}
		}

		position:absolute;
		top:50%;
		margin-top:-20px;

		z-index:1;

		&.slick-prev{
			left:20px;
		}
		&.slick-next{
			right:20px;
		}
	}

	.slick-slide{
		outline:none;
	}

	.slick-dots{
		position:absolute;
		list-style:none;
		margin:0;
		padding:0 20px;
		bottom:15px;
		left:0;
		right:0;
		max-width:100%;
		
		line-height:1;
		text-align:center;
		width:100%;
		> * {
			display:inline-block;
			vertical-align:top;
			font-size:0;
			line-height:0;
			float:none;
			margin:5px;
			> button {
				font-size:0;
				min-width:10px;
				width:10px;
				height:10px;
				padding:0;
				@include border-radius(50%);

				background: $color__slick-dot;

				&:hover{
					background: $color__slick-dot-hover;
				}
			}
			&.slick-active{
				> button {
					background: $color__slick-dot-hover;
				}
			}
		}
	}
}

.single-post-style-wrapper{
	&.full-width{
		position:relative;
		padding-top:35%;
		background-color: $color__single-post-full-width-background;

		@media(max-width:991px){
			min-height:360px;
		}

		.full-width-breadcrumbs{
			width:100%;
			position:absolute;
			top:0;
			left:50%;
			@include prefixer(transform, translateX(-50%), spec webkit ms);
			@media(max-width:575px){
				left:0;
				right:0;
				@include prefixer(transform, translateX(0), spec webkit ms);
			}
		}

		.single-post-basic-content{
			width:100%;
			position:absolute;
			bottom:40px;
			left:50%;
			@include prefixer(transform, translateX(-50%), spec webkit ms);

			@media(max-width:575px){
				left:0;
				right:0;
				@include prefixer(transform, translateX(0), spec webkit ms);
			}

			h1.entry-title {
				margin:-8px 0 21px 0;
				&:last-child{
					margin-bottom:-9px;
				}
				@media(min-width:768px){
					
					margin:-12px 0 18px 0;
					&:last-child{
						margin-bottom:-12px;
					}
					
				}	
			}
				
		}
	}

	&.special{
		text-align:center;
		margin-bottom:10px;
		.single-post-basic-content{
			h1.entry-title {
				margin:-8px 0 21px 0;
				&:last-child{
					margin-bottom:-9px;
				}
			}

			.basic-special-line{
				border-bottom: 2px dashed #EAEAEA;
			    padding-bottom: 40px;
			}

			.single-feature-image,
			.single-image-gallery,
			.single-post-quote,
			.single-player-video-wrapper{
				margin-bottom:10px;
				margin-top:60px;
			}				
		}

		.nav-breadcrumbs{
			border:none;
			padding-top:44px;			
		}

		.single-post-basic-content{
			padding-top:20px;			
		}
	}
}

.dark-background{
	.single-post-style-wrapper{
		&.special{
			.single-post-basic-content{
				.basic-special-line{
					border-bottom-color:rgba(255,255,255,0.1);
				}
			}
		}
	}
}

.single-related-posts{
	padding:40px 0 0 0;
	border-top:2px solid $color__post-footer-border;
	margin-top:40px;

	.related-header{
		margin-top:-5px;
		margin-bottom:25px;
		text-transform:uppercase;
	}

	.blog-items{
		margin-bottom:-30px;
		margin-left:-10px;
		margin-right:-10px;
	}

	.post-item{
		width:25%;
		margin-bottom:30px;
		padding-left:10px;
		padding-right:10px;

		@media(max-width:991px){
			width:33.33333333%;
		}
		@media(max-width:767px){
			width:50%;
		}
		@media(max-width:575px){
			width:100%;
		}

		.post-title{
			margin-bottom:16px;
			&:last-child{
				margin-bottom:-4px;
			}
		}

		.video-icon{
			width:44px;
			height:44px;
			margin-top:-26px;
			margin-left:-22px;
			&:after{
				border-width:10px 16px;
				margin-top:-10px;
				margin-left:-5px;
			}
		}
	}
}

.dark-background{
	.single-related-posts{
		border-top-color:rgba(255,255,255,0.1);
	}
}

body.is-sidebar{
	.single-related-posts{
		.post-item{
			width:33.33333333%;			
			@media(max-width:767px){
				width:50%;
			}
			@media(max-width:575px){
				width:100%;
			}
		}
	}
}

.entry-header.movie-style{
	background-color: $color__header-post-movie-background;
	padding:20px;
	border-bottom:none;
	margin-bottom:40px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 50%;
	@media(max-width:575px){
		padding:15px;
	}

	+ .entry-content:empty{
		margin-top:-40px;
	}
}

.pp-wrapper{	
	@include flexRowControl;
	@include flexVerticalAlignMiddle;

	.pp-image{
		width:165px;
		margin-right:10px;
		&:not(:empty){
			border:2px solid $color__header-post-movie-img-border;
			+ .pp-content-wrapper{
				width:calc(100% - 187px);
				width:-webkit-calc(100% - 187px);
				width:-moz-calc(100% - 187px);
				width:-ms-calc(100% - 187px);
			}
		}	

		@media(max-width:575px){			
			width: 100px;			
			&:not(:empty) + .pp-content-wrapper{
				width:calc(100% - 112px);
				width:-webkit-calc(100% - 112px);
				width:-moz-calc(100% - 112px);
				width:-ms-calc(100% - 112px);			
			}		
		}
	}
	.pp-content-wrapper{
		width:100%;
		text-align:center;
		.post-meta:first-child{
			margin-bottom:14px;
		}
		h1.entry-title{
			margin-top:-6px;
			margin-bottom:22px;
		}
	}

}

body.single-vid_actor,
body.single-vid_director{
	.archive-heading{
		margin-top:40px;
		margin-bottom:24px;
		border-top:2px solid $color__post-footer-border;
		padding-top:35px;
	}
}

body.dark-background.single-vid_actor,
body.dark-background.single-vid_director{
	.archive-heading{
		border-top-color:$color__post-footer-border-dark-background;
	}
}

body.page .entry-content:empty + .archive-heading.watch-later-heading{
	margin-top:40px;
}

.dark-background{
	.global-single-content{
		&.single-post-content > .author-box.special-style,
		.entry-header{
			border-bottom-color:$color__entry-header-border-dark-background;
		}
		.post-footer{
			> *{
				border-bottom-color: $color__post-footer-border-dark-background;
			}			
		}

		.like-dislike-toolbar-footer{
			@media(max-width:1199px){				
				.ld-t-footer-wrapper{					
					&+.ld-t-footer-sharing{						
						border-top-color: $color__post-footer-border-dark-background;
					}
				} 
			}

			.ld-t-item-content{
				color: $color__toolbar-bottom-like-button-color-dark-background;				
				background-color: $color__toolbar-bottom-like-button-background-dark-background;				
				
				&:hover{
					> span{
						color: $color__toolbar-bottom-like-button-color-hover-dark-background;
					}
				}			

				.like-tooltip,
				.dislike-tooltip{
					
					background-color: $color__toolbar-bottom-item-tooltip-background-dark-background;
					> * {
						color: $color__toolbar-bottom-item-tooltip-dark-background;	
					}
					
					&:after{
						
						border-top-color: $color__toolbar-bottom-item-tooltip-background-dark-background;						
					}					
				}				

			}
		}

		.single-post-nav-item{
			@media(max-width:575px){
				&+*>.item-text{					
					border-top-color: $color__post-footer-border-dark-background;
				}
			}
		}

		.tags-socialsharing{
			
			.tag-item{
				
				color: $color__post-footer-tag-dark-background;
				background-color: $color__post-footer-tag-background-dark-background;
				
				&:hover,
				&:focus{
					color: $color__post-footer-tag-hover-dark-background;
					background-color: $color__post-footer-tag-background-hover-dark-background;
				}
			}
			
		}

		.page-links{
			> *{				
				background-color:rgba(255,255,255,0.1);
			}
			> span:not([class]){
				background-color:rgba(255,255,255,0.68);
				color: #000000;
			}
			a:hover,
			a:focus{
				background-color:rgba(255,255,255,0.68);
				color: #000000;
			}
		}

		.whatever-embed-responsive{	
			&.twitter-ratio{
				background-color:rgba(255,255,255,0.1);				
			}
		}
	}

	body.single-vid_actor,
	body.single-vid_director{
		.archive-heading{
			border-top-color: $color__post-footer-border-dark-background;
		}
	}
}

.popular-video-footer{
	margin-bottom:60px;
	.popular-video-content{
		border:7px solid transparent;
		width:100%;
		padding:25px 25px 15px 25px;
		position:relative;
		
		&:before{
			content:'';
			display:block;
		    background-image: linear-gradient(45deg, $color__popular-border 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, $color__popular-border 50%, $color__popular-border 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
		    background-image: -webkit-linear-gradient(45deg, $color__popular-border 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, $color__popular-border 50%, $color__popular-border 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
		    background-image: -moz-linear-gradient(45deg, $color__popular-border 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, $color__popular-border 50%, $color__popular-border 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
		    background-size: 0.4rem 0.4rem;
		    z-index: 1;
		    position: absolute;
  			left: -7px;
  			top: -7px;
  			right: -7px;
 		 	bottom: -7px;
		}
		&:after{
			content:'';
			display:block;
			z-index: 2;
		    position: absolute;
		    background-color:#FFFFFF;
		    left: 0;
  			top: 0;
  			right: 0;
 		 	bottom: 0;		    
		}

		>.site__row{
			position:relative;
			z-index:3;
		}

		.block-left{			
			width:33.33333333%;
			@include flexRowControl;
			@include flexVerticalAlignMiddle;
			.block-left-content{
				text-align:center;
				width:100%;				
			}

			.vid-title-main{
				color:$color__main;
			}
		}

		.block-right{
			width:66.66666666%;
		}

		.slider-popular-container{
			overflow:hidden;

			.slick-arrow{
				min-width:40px;
				width:40px;
				height:40px;
				line-height:40px;
				text-align:center;
				padding:0;
				margin:0;	
				font-size:24px;	

				background:rgba(0,0,0,0.5);

				color:$color__button-text;

				&:hover{
					background-color: $color__button-background;
					background: linear-gradient(to left bottom, $color__button-background 50%, $color__button-background-mix 50%);
					background: -webkit-linear-gradient(to left bottom, $color__button-background 50%, $color__button-background-mix 50%);
					background: -moz-linear-gradient(to left bottom, $color__button-background 50%, $color__button-background-mix 50%);
				}

				opacity:0;
				visibility:hidden;

				.fa{
					line-height:1;
					font-size:24px;
					&:before{
						line-height:1;
					}
				}

				position:absolute;
				top:50%;
				margin-top:-50px;

				z-index:1;

				&.slick-prev{
					left:30px;
				}
				&.slick-next{
					right:30px;
				}
			}

			.slick-popular-slide{
				outline:none;
			}

			&:hover{
				.slick-arrow{
					opacity:1;
					visibility:visible;
				}
			}

			.slider-popular-list{
				margin-left:-15px;
				margin-right:-15px;
				&:not(.slick-slider){
					white-space:nowrap;
					overflow:hidden;
					> * {
						display:inline-block;
						vertical-align:top;
						white-space:normal;				
					}
				}
			}	
		}

		.post-item{
			padding:0 15px 10px 15px;
			width:50%;
			outline:none;
		}

		.blog-pic{
			margin-bottom:18px;
		}

		@media(max-width:991px){

			padding:20px 20px 10px 20px;

			.block-left{
				width:40%
			}
			.block-right{			
				width:60%;
				
			}

			.post-item{
				width:100%;
			}
		}

		@media(max-width:767px){
			.block-left{
				margin-bottom:20px;
			}
			.block-left,
			.block-right{			
				width:100%;
				
			}
		}
	}
}

.dark-background{
	.popular-video-footer{
		.popular-video-content{
			&:before{
				
			    background-image: linear-gradient(45deg, $color__popular-border-dark-background 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, $color__popular-border-dark-background 50%, $color__popular-border-dark-background 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
			    background-image: -webkit-linear-gradient(45deg, $color__popular-border-dark-background 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, $color__popular-border-dark-background 50%, $color__popular-border-dark-background 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
			    background-image: -moz-linear-gradient(45deg, $color__popular-border-dark-background 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, $color__popular-border-dark-background 50%, $color__popular-border-dark-background 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
			    
			}
			&:after{				
			    background-color:#111111;			    	    
			}
		}	
	}
}

body.main-layout-boxed{
	.popular-video-footer{
		padding-top:0px;
		margin-bottom:60px;
		@media(min-width:992px){			
			border-top:2px solid #E5E5E5;
			padding-top:40px;
			margin-bottom:40px;			
			>.site__container>.site__row>.site__col{
				padding-left:20px;
				padding-right:20px;
			}			
		}
	}	
}

body.main-layout-boxed.dark-background{
	.popular-video-footer{
		@media(min-width:992px){
			border-top-color: rgba(255,255,255,0.1);
		}
	}
}

.facebook-comment{
	margin-top:-10px;
	margin-left:-8px;
	margin-right:-8px;
}

#disqus_thread{
	margin-top:-15px;
}

body.single-vid_channel{
	.listing-types{
		padding-bottom:0;
		margin-bottom:40px;
		.listing-types-content{
			text-align:left;
		}
	}

	header.channel-header{
		padding:30px;
		background-color:#F3F3F3;
		margin-bottom:40px;
		border-bottom:none;
		.header-content{
			.post-meta{
				margin-bottom:14px;
				&:last-child{
					margin-bottom:-7px;
				}
			}
		}				
	}

	.single-post-wrapper{
		.entry-content:not(:empty){
			margin-bottom:60px;
		}
	}

	.global-single-content .post-footer > *:first-child{
		margin-top:0;
	}

	.single-post-style-wrapper.full-width{
		padding-top:0;
		min-height:368px;
	}

	
}

.loadmore-loading{
	direction:ltr;
}

.channel-subscribe{
	.subscribed{
		display:none;
	}
	.loadmore-loading{
		opacity:0;
		visibility:hidden;
		pointer-events:none;
	}

	&.subscribe-loading{
		pointer-events:none;
		.subscribe,
		.subscribed{
			opacity:0;
			visibility:hidden;
			pointer-events:none;
		}
		.loadmore-loading{
			opacity:1;
			visibility:visible;
		}
	}

	&.channel-subscribed{
		.subscribed{
			display:inline;
		}
		.subscribe{
			display:none;
		}

		color: #FFFFFF;
		background-color: #0CA308;
		background: linear-gradient(to left bottom, #0CA308 50%, mix( black, #0CA308, 8% ) 50%);
		background: -webkit-linear-gradient(to left bottom, #0CA308 50%, mix( black, #0CA308, 8% ) 50%);
		background: -moz-linear-gradient(to left bottom, #0CA308 50%, mix( black, #0CA308, 8% ) 50%);
		text-decoration: none;
	}

	.subscribed-count:not(:empty){
		padding: 0px 8px;
	    background-color: #FFFFFF;
	    color: #000000;
	    margin-left: 8px;
	    display:inline-block;
	}

	&.absolute-sub-btn{
		position:absolute;
		top:8px;
		left:8px;
	}

	&.item-button{
		.subscribed-count:not(:empty){
			padding:1px 8px;
		}
		
		.loadmore-indicator svg polyline#back{
			stroke:rgba(255,255,255,0.3) !important;
		}
		.loadmore-indicator svg polyline#front{
			stroke:#FFFFFF !important;
		}
				
	}
}
.dark-background{
	.channel-subscribe{
		&.channel-subscribed{			
			color: #FFFFFF;
			background-color: #0CA308;
			background: linear-gradient(to left bottom, #0CA308 50%, mix( black, #0CA308, 8% ) 50%);
			background: -webkit-linear-gradient(to left bottom, #0CA308 50%, mix( black, #0CA308, 8% ) 50%);
			background: -moz-linear-gradient(to left bottom, #0CA308 50%, mix( black, #0CA308, 8% ) 50%);
			text-decoration: none;
		}
		&:hover,
		&:focus{			
			.subscribed-count:not(:empty){
				background-color:#000000;
				color:#FFFFFF;
			}
			.loadmore-loading{
				.loadmore-indicator svg polyline#back{
					stroke:rgba(0,0,0,0.3);
				}
				.loadmore-indicator svg polyline#front{
					stroke:#000000;
				}
			}			
		}		
	}
	.video-sub-toolbar{
		.channel-subscribe{
			&:hover,
			&:focus{			
				.subscribed-count:not(:empty){
					background-color:#000000;
					color:#FFFFFF;
				}
			}	
		}
	}	
}

body.dark-background.single-vid_channel header.channel-header{
	background-color:rgba(255,255,255,0.1);
}

.global-single-wrapper{
	.yasr_table_multi_set_shortcode{
		
		margin-top:0;
		margin-bottom:0;
		border-collapse: collapse;

		color:rgba(255,255,255,0.8);

		&:not(:first-child){
			margin-top:25px;
		}

		&:not(:last-child){
			margin-bottom:25px;
		}

		tbody{
			tr{
				>td{
					border:1px solid #333333;
					width:50%;
					vertical-align:middle;
					padding:12px 20px;
					.yasr-multi-set-name-field,
					.yasr-visitor-multiset-vote-count{
						line-height:1;
						display:inline-block;
						vertical-align:middle;
					}

					.yasr-multi-set-name-field{
						font-weight:700;
						text-transform:uppercase;
						color:#FFFFFF;
						font-size:14px;						
					}
					.yasr-visitor-multiset-vote-count{
						margin-top:3px;
						margin-left:8px;
					}

					.rateit.medium{
						margin-left:8px;
					}

					input[id^="yasr-send-visitor-multiset-"],
					.yasr-loader-multiset-visitor,
					.yasr-visitor-multiset-message{
						vertical-align:middle;
						margin-right:8px;
					}

				}

				.yasr-multiset-average{
					text-align:left;
				}

				&:nth-child(odd){
					background-color:#111111;					
				}
				&:nth-child(even){
					background-color:#1A1A1A;					
				}
			}
		}

		input[id^="yasr-send-visitor-multiset-"]:hover{
			&:hover,
			&:focus{
				color: $color__button-text-hover-dark-background;
				background-color: $color__button-background-hover-mix-dark-background;
				background: linear-gradient(to left bottom, $color__button-background-hover-dark-background 50%, $color__button-background-hover-mix-dark-background 50%);
				background: -webkit-linear-gradient(to left bottom, $color__button-background-hover-dark-background 50%, $color__button-background-hover-mix-dark-background 50%);
				background: -moz-linear-gradient(to left bottom, $color__button-background-hover-dark-background 50%, $color__button-background-hover-mix-dark-background 50%);
			}
		}
	}
}

.yasr-visitors-stats-tooltip{
	&.ui-tooltip{
		background-color:#FFFFFF;
		padding:20px 25px 24px 25px;
		@include prefixer(box-shadow, 0 0 12px rgba(0,0,0,0.15), spec webkit); 
		@include border-radius(0);
		border:none;
	}

	.yasr-progress-bar{
		background-color:#EEEEEE;
		@include prefixer(box-shadow, none, spec webkit); 
		> .ui-progressbar-value{
			background: #ffce00;
    		border: none;
    		margin: 0;
    		@include prefixer(box-shadow, none, spec webkit);
		}
	}

	.yasr-progress-bars-container{
		margin-top:10px;
	}	

	.yasr-progress-bar-row-container{
		padding:0;
		margin-bottom:5px;
		&:last-child{
			margin-bottom:0;
		}
	}

	.yasr-progress-bar-name{
		min-width:80px;
	}
	.yasr-progress-bar-votes-count{
		text-align:right;
		min-width:40px;
	}

	.yasr-progress-bar-name,
	.yasr-progress-bar-votes-count,
	.yasr-progress-bar{
		vertical-align:middle;
	}
}

.yasr-visitor-votes{
	margin-left:-5px;
	margin-right:-5px;
	&:not(:first-child){
		margin-top:25px;
	}

	&:not(:last-child){
		margin-bottom:15px;
	}

	>*{
		display:inline-block;
		padding-left:5px;
		padding-right:5px;
		vertical-align:middle !important;
		width:auto;
	}

	.yasr-visitor-votes-must-sign-in,
	.yasr-already-voted-text {
		display:block;
		margin-top:10px;
	}

	@media(max-width:767px){
		text-align:center;
		.yasr_visitor_votes_stars_div{
			display:block;
		}
	}
}

.form-front-end-submit{
	margin-top:40px;
}

/*gutenberg*/

.global-single-content{

	[class^="wp-block-"]:not(.wp-block-spacer){
		margin-top:2em;
		margin-bottom:2em;
		&:first-child{
			margin-top:0;			
		}
		&:last-child{
			margin-bottom:0;			
		}
		+.wp-block-spacer{
			margin-top:-2em;
		}
	}

	.wp-block-spacer+*{
		margin-top: -2em;
	}

	.wp-block-embed{
		margin-left:0;
		margin-right:0;
	}

	.wp-block-separator{
		border-color:rgba(0,0,0,0.1);
		clear: both;	
	}

	.wp-block-separator.is-style-dots::before{
		color: rgba(0,0,0,0.4);
	}

	.wp-block-pullquote{
		padding:2em 0;
	}

	.wp-block-quote.is-large, 
	.wp-block-quote.is-style-large{
		padding: 20px 25px 20px 85px;
		@media(max-width:767px){
			padding: 13px 15px 13px 65px;
			p{
				font-size:18px;
			}
		}
	}

	.wp-block-quote.is-large cite, 
	.wp-block-quote.is-large footer, 
	.wp-block-quote.is-style-large cite, 
	.wp-block-quote.is-style-large footer{
		text-align:left;
		@media(max-width:767px){			
			font-size:14px;			
		}
	}

	.wp-block-pullquote p{
		font-size:18px;
		@media(max-width:767px){			
			font-size:14px;			
		}
	}

	.wp-block-latest-posts{
		a{
			text-decoration:none;
			font-family: $font__heading;
			font-size: $h5_font_size;
			font-weight: $font__heading-weight;
			line-height: $font__heading-line-height;	
			letter-spacing: $font__heading-letter-spacing;	
			text-transform: $font__heading-text-transform;
			text-decoration: $font__heading-text-decoration;
			font-style: $font__heading-style;
			display: block
		}
	}

	.wp-block-image .alignleft{
		margin-right:2em;
	}

	.wp-block-image .alignright{
		margin-left:2em;
	}

	.wp-block-categories,
	.wp-block-archives{	
		a{
			text-decoration: none;
		}
	}
}

.dark-background{
	.global-single-content{
		.wp-block-separator{
			border-color:rgba(255,255,255,0.1);
		}

		.wp-block-separator.is-style-dots::before{
			color: rgba(255,255,255,0.4);
		}
	}	
}

.dark-background {
	.lightbox-edit-post{
		.lightbox-edit-post-content{
			.wpcf7{
				background-color: #252525;
			}
		}
	}
}

.fe_edit-post{
	display: inline-block;
	margin-left: 8px;
	font-size: 18px;
	background-color: #FF0000;
	color: #FFFFFF;
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	@include border-radius(5px);
	vertical-align: middle;
	cursor: pointer;
	&:hover{
		background-color: #252525;
	}
}

.lightbox-edit-post{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 99999999;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;	
	.lightbox-edit-post-content{
		position: absolute;
		top:0;
		bottom: 0;
		right:-40px;
		left:-40px;
		padding-left:40px;
		padding-right: 40px;
		overflow: hidden;
		overflow-y: scroll;

		.wpcf7{
			max-width: 810px;
			margin-left: auto;
			margin-right: auto;
			background-color: #FFFFFF;
			margin-top:60px;
			margin-bottom: 60px;
			padding:30px;
			position: relative;
			@media(max-width: 991px){
				max-width: 100%;
				margin-left: 15px;
				margin-right: 15px;
				padding:20px;
			}
		}

		.lightbox-edit-close{
			text-align:center;
			height:30px;
			width:30px;
			line-height:30px;
			background-color:#CCCCCC;
			font-size:16px;
			cursor:pointer;
			@include prefixer(user-select, none, spec webkit ms moz);
			position:absolute;
			top:-15px;
			right:-15px;
			color:#000000;
			@include border-radius(50%);
		}
	}

	.video-load-icon{
		position: absolute;
		top:50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
	}

	&.save-data{
		.wpcf7 > *{
			pointer-events: none !important;
			opacity: 0.68;
		}		
	}

	~.select2-container{
		z-index: 99999999; 
	}
}

.fb-comments iframe{
	width: 100% !important;
}

body.page-template-front-page-template{
	.entry-content+.subscriptions-title{
		margin-top: 40px;
	}
}

.subscriptions-title{
	padding-bottom:10px;
	margin-bottom:30px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	&+.blog-items:not(:last-child){
		margin-bottom: 10px;
	}
}

.notice-login-sub{
	text-align: center;
	margin-top: 60px;
}