.alignleft {
	display: inline;
	float: left;
	margin-right: 2em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 2em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

figure[id^="attachment_"]{
	margin:15px 0 0 0;
	&.alignleft {
		display: inline;
		float: left;
		margin-right: 2em;
	}
	&.alignright {
		display: inline;
		float: right;
		margin-left: 2em;
	}
	&.aligncenter {
		clear: both;
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}