ul, ol {
	line-height: 2.2; 
	margin: 0;
}
ul{
	padding-left: 15px;
}
ul li ul {
	padding-left: 30px;
}	
ul li ol { 
	padding-left: 30px;
}

ol { 
	padding-left: 15px;
}
ol li ol { 
	padding-left: 30px;
}
ol li ul { 
	padding-left: 30px;
}

dt {
	font-weight: $font__weight-extra;
}

dd {
	margin: 0 1.5em 1.5em;
}
