$grid_gutter_df: 30px;
$grid_gutter_sm: 30px;
$grid_gutter_md: 30px;
$grid_gutter_lg: 30px;
$grid_gutter_xl: 30px;

$navigation_height: 50px;
$navigation_extra_height: 75px;
$top_navigation_height: 40px;