.meta-font{
	font-family: $font__meta;
	font-size: $font__meta-size;
	font-weight: $font__meta-weight;	
	letter-spacing: $font__meta-letter-spacing;	
	text-transform: $font__meta-text-transform;
	text-decoration: $font__meta-text-decoration;
	font-style: $font__meta-style;
}
.m-font-size-10{
	font-size:$font__meta-size-10;
}