.navigation-font{
	font-family: $font__navigation;
	font-size: $font__navigation-size;
	font-weight: $font__navigation-weight;	
	letter-spacing: $font__navigation-letter-spacing;	
	text-transform: $font__navigation-text-transform;
	text-decoration: $font__navigation-text-decoration;
	font-style: $font__navigation-style;
}

.nav-font-size-12{
	font-size: $font_navigation_size_12;
}